body {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(216, 216, 216);
}

header {
    margin-top: 20px;
    background-color: rgb(25, 52, 65);
    color: white;
    text-align: center;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
}

article {
    background-color: rgb(252, 255, 245);
    text-align: center;
    padding: 1.25rem;
}

article>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.atencao {
    font-family: 'sofia';
    font-size: 2rem;
}

header>h1 {
    margin-bottom: 0;
    padding: .0625rem;
}

img {
    width: 43.75rem;
}

article>figure {
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

figure {
    background-color: white;
    width: fit-content;
    padding: .938rem;
    border: 1px solid black;
    border-radius: 0.938rem;
}

footer {
    background-color: rgb(145, 170, 157);
    margin: 0;
    height: 100px;
    position: relative;
    margin-bottom: 3.125rem;
}

footer>p {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}